body {
  background: #1A1A1B;
  background-color: #1A1A1B;
  color: #888;
}
a:hover {
  color: #10d876;
}
.active {
  color: #10d876;
}
li {
  color: #888;
}
li::marker {
  color: #10d876;
}
.service-box li h4 {
  color: #ffffff;
}
.circle-btn {
  background: #10d876;
  color:#000000;
  font-weight: 700;
  border: solid 3px #10d876;
}
.circle-btn:hover {
  background: #1A1A1B;
  color: #10d876;
  border: solid 3px #10d876;
}
.btn-default {
  color: #edf5e1;
  border: solid 3px #10d876;
  background: #10d876;
}
.btn-default:hover, .btn-default:focus {
  color: #10d876;
  border-color: #10d876;
}
.btn-alt-light {
  color: #10d876;
  background: transparent;
  border: solid 3px #10d876;
}
.btn-alt-light:hover, .btn-alt-light:focus {
  color: #ffffff;
  border: solid 3px #ffffff;
}
nav ul li {
  color: #fff;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.btn-close {
  filter: invert(1) grayscale(100%) brightness(200%);
}
.offcanvas {
  background: #1A1A1B;
}
header {
  background: #1A1A1B;
}
header.desktop-header {
  background: #1A1A1B;
  border-right: solid 1px #222222;
}
header.desktop-header .vertical-menu li a {
  color: #ffffff;
}
header.desktop-header .vertical-menu li a:after {
  background: #10d876;
}
header.desktop-header .vertical-menu li .nav-link.active:after {
  background: #10d876;
}
header.mobile-header {
  background: #1A1A1B;
  border-bottom: solid 1px #222222;
}
header .social-icon svg:hover {
  fill: #10d876;
}
body header, body .btn-default:before {
  background: #1A1A1B;
}
body h1, body h2, body h3, body h4, body h5, body h6, body a, body .vertical-menu li a, body .portfolio-filter li.current, body .portfolio-filter li:hover, body .portfolio-info li strong, body .social-share .share-text {
  color: #FFF;
}
body .mouse {
  border-color: #FFF;
}
body .mouse .wheel, body header.mobile-header .menu-icon span, body header.mobile-header .menu-icon span:before, body header.mobile-header .menu-icon span:after {
  background: #FFF;
}
body .timeline span.line {
  background: #222;
}
body .slick-dots li.slick-active button:before {
  background: #10d876;
}
body .slick-dots li button:before {
  background: rgba(255, 255, 255, 0.8);
}
body .form-control {
  background-color: transparent;
}
body header.desktop-header .vertical-menu li .nav-link.active:after, body header.desktop-header .vertical-menu li a:after, body .portfolio-filter li.current:after, body .portfolio-filter li:after {
  opacity: 1;
}
section {
  border-top: solid 1px #222222;
}
header .social-icon svg {
  fill: #ffffff;
}
.portfolio-item .mask {
  background: #10d876;
}
.typewriter > .wrap {
  border-right: 0.4rem solid #10d876;
}
.timeline .timeline-container::after {
  background-color: #10d876;
}
.icon.simple {
  color: #10d876;
}
.portfolio-categories li a {
  background-color: #10d876;
  color: #1A1A1B;
}
.item:hover {
  background: rgba(16, 216, 118, 0.1);
}
#contact svg {
  fill: #10d876;
}
.project-table th {
  color: #ffffff;
}
.project-table  th, td {
  border-bottom: 1px solid #222222;
}
.project-table td.link a {
  color: #10d876;
}
.btn-back-to-top {
  fill: #10d876;
}
.theme-selector ul li.light {
  background: #9013FE;
  border: 3px solid #9013FE;
}
.theme-selector ul li.light:hover {
  background: #f8f8f8;
  border: 3px solid #9013FE;
}
.theme-selector ul li.dark {
  background: #10d876;
  border: 3px solid #10d876;
}
.theme-selector ul li.dark:hover {
  background: #f8f8f8;
  border: 3px solid #10d876;
}
.theme-selector ul li.orange {
  background: #fc483a;
  border: 3px solid #fc483a;
}
.theme-selector ul li.orange:hover {
  background: #f8f8f8;
  border: 3px solid #fc483a;
}
.theme-selector ul li.green {
  background: #05386b;
  border: 3px solid #05386b;
}
.theme-selector ul li.green:hover {
  background: #f8f8f8;
  border: 3px solid #05386b;
}
.link-arrow-path { 
  fill: #10d876;
}