@import "satoshi.css";

@font-face {
  font-family: Montserrat-Variable;
  src: url(../fonts/montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: Inter-Variable;
  src: url(../fonts/inter/Inter-Variable.ttf);
}
@font-face {
  font-family: MonumentExtended-Regular;
  src: url(../fonts/monument/MonumentExtended-Regular.otf);
}
@font-face {
  font-family: MonumentExtended-Ultrabold;
  src: url(../fonts/monument/MonumentExtended-Ultrabold.otf);
}

body {
  background: #f8f8f8;
  background-color: #f8f8f8;
  color: #888;
  font-size: 16px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat-Variable", sans-serif;
  font-weight: 500;
}
body h1, body h2, body h3, body h4, body h5, body h6, body a, body .vertical-menu li a, body .portfolio-filter li.current, body .portfolio-filter li:hover, body .portfolio-info li strong, body .social-share .share-text {
  color: #000;
}
body .mouse {
  border-color: #000000;
}
body .mouse .wheel, body header.mobile-header .menu-icon span, body header.mobile-header .menu-icon span:before, body header.mobile-header .menu-icon span:after {
  background: #000000;
}
body .timeline span.line {
  background: #ececec;
}
body .slick-dots li.slick-active button:before {
  background: #9013FE;
}
body .slick-dots li button:before {
  background: rgba(255, 255, 255, 0.8);
}
body .form-control {
  background-color: transparent;
}
body header.desktop-header .vertical-menu li .nav-link.active:after, body header.desktop-header .vertical-menu li a:after, body .portfolio-filter li.current:after, body .portfolio-filter li:after {
  opacity: 1;
}
a {
  text-decoration: none;
}
a:hover {
  color: #9013FE;
}
section {
  border-top: solid 1px #ececec;
}
section#home {
  border-top: none;
}
section.projects {
  border-top: none;
}
h1 {
  margin-bottom: 2.5rem;
  font-family: "Montserrat-Variable", sans-serif;
  font-size: 4rem;
  font-weight: 900;
}
h2 {
  margin-bottom: 5rem;
  font-weight: 900;
}
p {
  margin-bottom: 2rem;
  font-size: 0.85rem;
}
.active {
  color: #9013FE;
}
.bold {
  font-weight: 900;
}
ul {
  padding-left: 1rem;
}
li {
  color: #9013FE;
}
img {
  max-width: 100%;
  height: auto;
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.btn {
  border-radius: 0;
  font-family: "Montserrat-Variable", sans-serif;
  font-size: 14px;
  font-weight: 900;
  overflow: hidden;
  line-height: 1;
  padding: 15px 24px;
  position: relative;
  text-transform: uppercase;
  margin-right: 1rem;
}
.btn:focus {
  box-shadow: none;
}
.btn:focus {
  outline: 0;
}
.circle-btn {
  background: #9013FE;
  /* padding: 0.45rem 0.9rem; */
  padding: 0.35rem 0.7rem;
  border-radius: 40px;
  display: inline-block;
  margin-right: 0.05rem;
  margin-bottom: 0.45rem;
  font-size: 11px;
  color: #f8f8f8;
  font-weight: 700;
  border: 0.175rem solid #9013FE;
}
.circle-btn:hover {
  background: #f8f8f8;
  color: #9013FE;
  border: 0.175rem solid #9013FE;
}
.btn-default {
  color: #f8f8f8;
  border: solid 3px #9013FE;
  background: #9013FE;
}
.btn-default:hover, .btn-default:focus {
  color: #9013FE;
  border-color: #9013FE;
}
.btn-alt-light {
  color: #9013FE;
  background: transparent;
  border: solid 3px #9013FE;
}
.btn-alt-light:hover, .btn-alt-light:focus {
  color: #f8f8f8;
  background: #9013FE;
  border: solid 3px #9013FE;
}
.hero .btn.circle-btn {
  padding: 0.6rem 1.2rem;
} 
.btn-all-projects {
  float: left;
}
header {
  display: flex;
  justify-content: space-between;
}
header .name-title {
  display: flex;
}
header .nav-container {
  align-items: center;
}
header, body .btn-default:before {
  background: #f8f8f8;
}
header.desktop-header {
  background: #f8f8f8;
}
header.desktop-header .vertical-menu li a:after {
  background: #9013FE;
}
header.desktop-header .vertical-menu li .nav-link.active:after {
  background: #9013FE;
}
header.mobile-header {
  background: #f8f8f8;
  border-bottom: solid 1px #ececec;
}
.circle {
    border-radius: 100%;
  }
header ul {
  list-style: none;
  padding-left: 0;
}
header .social-icon svg {
  width: 100%;
  max-height: 1.1rem;
  fill: #000;
}
header .social-icon svg:hover {
  fill: #9013FE;
}
.sidebar {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.main {
  margin-left: 0rem;
}
nav ul li {
  margin-bottom: 0.5rem;
  font-size: 0.85rem;
  font-weight: 700;
  font-weight: 800;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0,0,0,1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.btn-close {
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}
.navbar-toggler {
  border: none;
}
.offcanvas {
  background: #ffffff;
}
.offcanvas-header {
  justify-content: flex-end;
}
footer {
  margin-top: auto;
}
.footer-top {
  display: none;
}
.footer-bottom {
  padding-bottom: 2.55rem;
  padding-right: 2rem;
  padding-left: 2rem;
}
.social-icons ul {
  display: flex;
  margin-bottom: 0.75rem;
}
.social-icons ul li {
  margin-right: 1rem;
}
.profile-photo {
  max-width: 4rem;
  display: block;
  margin-right: 1rem;
}
.profile-name {
  display: block;
  font-size: 1.75rem;
  font-weight: 900;
}
.copyright {
  font-size: 14px;
  margin-top: auto;
}
.theme-selector {
  z-index: 100;
  position: absolute;
  right: 0;
  padding-top: 2.55rem;
  padding-right: 2.75rem;
  margin-bottom: 1rem;
  display: none;
  }
/* .theme-selector ul {
    display: flex;
} */
header .social-icons svg {
  width: 100%;
  max-height: 1.1rem;
}
section {
  padding-top: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 4rem;
}
.hero {
  height: 100vh;
  min-height: 100vh;
  /* padding-left: 0; */
  padding-right: 0;
  display: flex;
  align-items: center;
}
.hero p {
  margin-bottom: 2.5rem;
}
.scroll-down {
	position: absolute;
	bottom: 40px;
	left: 0;
	width: 100%;
}
.mouse {
  border: solid 3px #ffffff;
  border-radius: 1rem;
  display: block;
  margin: auto;
  height: 2rem;
  position: relative;
  width: 1.5rem;
}
.mouse .wheel {
  background: #ffffff;
  border-radius: 100%;
  display: block;
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  height: 5px;
  width: 5px;
  -webkit-animation: ani-mouse 2s linear infinite;
  -moz-animation: ani-mouse 2s linear infinite;
  animation: ani-mouse 2s linear infinite;
}

@-webkit-keyframes ani-mouse {
	0% {
		top: 29%;
	}
	15% {
		top: 50%;
	}
	50% {
		top: 50%;
	}
	100% {
		top: 29%;
	}
}
@-moz-keyframes ani-mouse {
	0% {
		top: 29%;
	}
	15% {
		top: 50%;
	}
	50% {
		top: 50%;
	}
	100% {
		top: 29%;
	}
}
@keyframes ani-mouse {
	0% {
		top: 29%;
	}
	15% {
		top: 50%;
	}
	50% {
		top: 50%;
	}
	100% {
		top: 29%;
	}
}
.theme-selector ul li {
  max-width: 1.65rem;
  max-height: 1.65rem;
  width: 1.65rem;
  height: 1.65rem;
  list-style-type: none;
}
.theme-selector ul li.light {
  background: #9013FE;
  border: 3px solid #9013FE;
}
.theme-selector ul li.light:hover {
  background: #f8f8f8;
  border: 3px solid #9013FE;
}
.theme-selector ul li.dark {
  background: #10d876;
  border: 3px solid #10d876;
}
.theme-selector ul li.dark:hover {
  background: #f8f8f8;
  border: 3px solid #10d876;
}
.theme-selector ul li.orange {
  background: #fc483a;
  border: 3px solid #fc483a;
}
.theme-selector ul li.orange:hover {
  background: #f8f8f8;
  border: 3px solid #fc483a;
}
.theme-selector ul li.green {
  background: #05386b;
  border: 3px solid #05386b;
}
.theme-selector ul li.green:hover {
  background: #f8f8f8;
  border: 3px solid #05386b;
}
.theme-selector ul li a {
  height: 100%;
  width: 100%;
  position: relative;
  display: block;
}

.typewriter > .wrap {
  animation: blink 0.8s infinite;
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
li {
  color: #9013FE;
}
.subtitle {
  margin-bottom: 1rem;
}
.experience-logo {
  /*margin-top: 1.33rem;*/
  margin-bottom: 0.33rem;
  display: block;
  height: 2.5rem;
  width: auto;
  max-height: 2.5rem;
}
.experience-logo.wtaa-logo {
  height: 2.35rem;
  max-height: 2.35rem;
}
.experience-logo.ncm-logo {
  height: 2.95rem;
  max-height: 2.95rem;
}
.experience-logo.vue-design-logo {
  height: 2.95rem;
  max-height: 2.95rem;
}
.experience-logo.mango-bay-logo {
  height: 1.75rem;
  max-height: 1.75rem;
}
.experience-logo.ff-design-logo {
  height: 1.55rem;
  max-height: 1.55rem;
}
.item {
  margin-bottom: 2.5rem;
  padding-top: 1rem;
  padding-right: 5rem;
  padding: 2rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
  border-radius: .8rem;
}
.item:hover {
  background: rgba(144, 19, 254, 0.05);
}
.skills ul {
  margin-bottom: 0;
}
.skills ul li {
  margin-bottom: 0.5rem;
  font-weight: 900;
}
.title {
  margin-bottom: 1rem;
  font-weight: 800;
}
.experience-logo {
  margin-bottom: 1.25rem;
}
.date {
  display: block;
  margin-bottom: 1rem;
}
.service-box li h4 {
  color: #000000;
}
.portfolio-item .mask {
  background: #9013FE;
}
.typewriter > .wrap {
  border-right: 0.4rem solid #9013FE;
}
.timeline .timeline-container::after {
  background-color: #9013FE;
}
.icon.simple {
  color: #9013FE;
}
.portfolio-categories li a {
  background-color: #9013FE;
}
.project-img {
  padding-right: 1.5rem;
}
.project-show h2 {
  margin-bottom: .75rem;
  font-size: 1.5rem;
}
.project-show ul {
  margin-bottom: 2rem;
}
.project-show ul li {
  color: #888;
}
.project-show a {
  font-weight: 700;
}
#contact svg {
  max-height: 2rem;
  width: auto;
  margin-bottom: 1rem;
  fill: #9013FE;
}
#contact .location svg {
  max-height: 2.25rem;
}
#contact h4 {
  margin-bottom: 1rem;
  font-size: 1.35rem;
}
#contact .item {
  margin-bottom: 0;
}
#projects.list-view {
  padding-top: 2.55rem;
}
.project-amount {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-bottom: 0.5rem;
}
.project-table {
  font-size: 14px;
  text-align: left;
}
.project-table th {
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #000000;
  /*background: rgba(144, 19, 254, 0.05);*/
}
.project-table  th, td {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
  border-bottom: 1px solid #ececec;
  vertical-align: top;
}
.project-table td.link a {
  color: #9013FE;
  font-weight: 700;
}
.project-table  th.company, td.company {
  display: none;
}
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}
.btn-back-to-top {
  fill: #9013FE;
}
svg.link-arrow {
  width: auto;
  height: 0.6rem;
  transition: 300ms;
}
.project-link:hover .link-arrow {
  transform: translate(5px, -5px);
}
.link-arrow-path { 
  fill: #9013FE;
}