body {
  background: #4f374f;
  background-image: #4f374f;
  color: #888;
}
a:hover {
  color: #fc483a;
}
.active {
  color: #fc483a;
}
li {
  color: #edf5e1;
}
.service-box li h4 {
  color: #fc483a;
}
.circle-btn {
  background: #fc483a;
  color:#edf5e1;
  font-weight: 700;
  border: solid 3px #fc483a;
}
.circle-btn:hover {
  background: transparent;
  color: #edf5e1;
  border: solid 3px #fc483a;
}
.btn-default {
  color: #edf5e1;
  border: solid 3px #fc483a;
  background: #fc483a;
}
.btn-default:hover, .btn-default:focus {
  color: #fc483a;
  border-color: #fc483a;
}
.btn-alt-light {
  color: #fc483a;
  background: transparent;
  border: solid 3px #fc483a;
}
.btn-alt-light:hover, .btn-alt-light:focus {
  color: #edf5e1;
  background: transparent;
  border: solid 3px #edf5e1;
}
.mugi-folding-cube .mugi-cube:before {
  background-color: #fc483a;
}
nav ul li {
  color: #fc483a;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(237, 245, 225, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.btn-close {
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}
.offcanvas {
  background: #4f374f;
}
header {
  background: #4f374f;
}
header.desktop-header {
  background: #4a314a;
  border-right: solid 1px #222222;
}
header.desktop-header .vertical-menu li a {
  color: #fc483a;
}
header.desktop-header .vertical-menu li a:after {
  background: #4f374f;
}
header.desktop-header .vertical-menu li .nav-link.active:after {
  background: #4f374f;
}
header.mobile-header {
  background: #4a314a;
  border-bottom: solid 1px #ececec;
}
header .social-icon svg {
  width: 100%;
  max-height: 1.1rem;
  fill: #edf5e1;
}
header .social-icon svg:hover {
  fill: #fc483a;
}
body header, body .btn-default:before {
  background: #4f374f;
}
body h1, body h2, body h3, body h4, body h5, body h6, body a, body .vertical-menu li a, body .portfolio-filter li.current, body .portfolio-filter li:hover, body .portfolio-info li strong, body .social-share .share-text {
  color: #edf5e1;
}
body a:hover {
  color: #fc483a;
}
body .mouse {
  border-color: #edf5e1;
}
body .mouse .wheel, body header.mobile-header .menu-icon span, body header.mobile-header .menu-icon span:before, body header.mobile-header .menu-icon span:after {
  background: #edf5e1;
}
body .timeline span.line {
  background: #4f374f;
}
body .slick-dots li.slick-active button:before {
  background: #fc483a;
}
body .slick-dots li button:before {
  background: rgba(255, 255, 255, 0.8);
}
body .form-control {
  background-color: transparent;
}
body header.desktop-header .vertical-menu li .nav-link.active:after, body header.desktop-header .vertical-menu li a:after, body .portfolio-filter li.current:after, body .portfolio-filter li:after {
  opacity: 1;
}
section {
  border-top: solid 1px #614561;
}
header .social-icon svg {
  width: 100%;
  max-height: 1.1rem;
  fill: #edf5e1;
}
.portfolio-item .mask {
  background: #fc483a;
}
.typewriter > .wrap {
  border-right: 0.4rem solid #fc483a;
}
.timeline .timeline-container::after {
  background-color: #fc483a;
}
.icon.simple {
  color: #fc483a;
}
.portfolio-categories li a {
  background-color: #fc483a;
}
.item:hover {
  background: rgba(252, 72, 58, 0.1);
}
#contact svg {
  fill: #fc483a;
}
.project-table th {
  color: #edf5e1;
}
.project-table  th, td {
  border-bottom: 1px solid #614561;
}
.project-table td.link a {
  color: #fc483a;
}
.btn-back-to-top {
  fill: #fc483a;
}
.theme-selector ul li.light {
  background: #9013FE;
  border: 3px solid #9013FE;
}
.theme-selector ul li.light:hover {
  background: #f8f8f8;
  border: 3px solid #9013FE;
}
.theme-selector ul li.dark {
  background: #10d876;
  border: 3px solid #10d876;
}
.theme-selector ul li.dark:hover {
  background: #f8f8f8;
  border: 3px solid #10d876;
}
.theme-selector ul li.orange {
  background: #fc483a;
  border: 3px solid #fc483a;
}
.theme-selector ul li.orange:hover {
  background: #f8f8f8;
  border: 3px solid #fc483a;
}
.theme-selector ul li.green {
  background: #05386b;
  border: 3px solid #05386b;
}
.theme-selector ul li.green:hover {
  background: #f8f8f8;
  border: 3px solid #05386b;
}
.link-arrow-path { 
  fill: #fc483a;
}