
section { 
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}
.date {
    font-size: 0.9rem;
}
/* .item {
    padding: 0;
} */
.theme-selector-desktop {
    display: none;
}

@media (min-width: 576px) {
    section {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (min-width: 768px) {
    section {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .sidebar {
        padding-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    header .name-title {
        align-items: center;
    }
}

@media (min-width: 992px) {
    p {
        font-size: 0.9rem;
    }
    header {
        display: flex;
        flex-direction: column;
        height: 100vh;
        padding-top: 2.55rem;
        padding-left: 2.65rem;
        padding-right: 2.65rem;
        padding-bottom: 2.55rem;
        position: fixed;
        justify-content: flex-start;
    }
    header .name-title {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-expand-lg .navbar-nav {
        flex-direction: column;
    }
    .main {
        margin-left: 16rem;
    }
    section {
        padding-left: 2rem;
        padding-right: 8rem;
    }
    .hero {
        padding-right: 10rem;
    }
    .project-table  th.company, td.company {
        display: block;
    }
    .theme-selector-desktop {
        display: initial;
    }
    .theme-selector-mobile {
        display: none;
    }
    .footer-bottom {
        display: none;
    }
    .footer-top {
        display: block;
    }
    .sidebar {
        padding-top: 0rem;
        padding-left: 0rem;
        padding-right: 0rem;
    }
    .profile-photo {
        max-width: 6.5rem;
        margin-bottom: 1rem;
        margin-right: 0rem;
    }
    .profile-name {
        margin-bottom: 3rem;
      }
}

@media (min-width: 1200px) {
    section {
        padding-left: 6rem;
        padding-right: 10rem;
    }
    .hero {
        padding-right: 25rem;
    }
}

@media (min-width: 1400px) {
    section {
        padding-left: 8rem;
        padding-right: 20rem;
    }
    .hero {
        padding-right: 35rem;
    }
}