
header {
    display: flex;

}
section { 
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}
.hero {
    padding-left: 0;
    padding-right: 0;
}
.date {
    font-size: 0.7rem;
}
/* .item {
    padding: 0;
} */
p {
    font-size: 0.85rem;
}
.theme-selector-desktop {
    display: none;
}




@media (min-width: 576px) {
    section {
        padding-left: 2rem;
        padding-right: 4rem;
    }
}


@media (min-width: 768px) {
    section {
        padding-left: 2rem;
        padding-right: 6rem;
    }
}


@media (min-width: 992px) {
    header {
        display: flex;
        flex-direction: column;
        height: 100vh;
        padding-top: 2.55rem;
        padding-left: 3.5rem;
        padding-right: 3.5rem;
        padding-bottom: 2.55rem;
        position: fixed;
    }
    section {
        padding-left: 2rem;
        padding-right: 8rem;
    }
    .theme-selector-desktop {
        display: initial;
    }
    .theme-selector-mobile {
        display: none;
    }
    .footer-bottom {
        display: none;
    }
    .footer-top {
        display: block;
    }
}


@media (min-width: 1200px) {
    section {
        padding-left: 2rem;
        padding-right: 10rem;
    }
}


@media (min-width: 1400px) {
    section {
        padding-left: 2rem;
        padding-right: 12rem;
    }
}