@media (min-width: 576px) {
    section {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    #contact .item {
        margin-bottom: 0;
    }
    #contact p {
        font-size: 0.85rem;
    }
}

@media (min-width: 768px) {
    section {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    section#home {
        padding-top: 0;
    }
    .sidebar {
        padding-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    header .name-title {
        align-items: center;
    }
    .hero {
        height: 100vh;
        min-height: 100vh;
    }
    .item {
        padding: 1.5rem;
        padding-right: 5rem;
    }
    #contact .item {
        padding-right: 1.5rem;
    }
    .item:hover {
        background: rgba(144, 19, 254, 0.05);
    }
    .scroll-down {
        position: absolute;
        bottom: 40px;
        left: 0;
        width: 100%;
        margin-top: 0;
    }
    .project-table img {
        max-width: 4.5rem;
      }
    .profile-name {
    font-size: 1.75rem;
    }
}

@media (min-width: 992px) {
    p {
        font-size: 1rem;
    }
    header {
        display: flex;
        flex-direction: column;
        height: 100vh;
        padding-top: 2.55rem;
        padding-left: 2.65rem;
        padding-right: 2.65rem;
        padding-bottom: 2.55rem;
        position: fixed;
        justify-content: flex-start;
    }
    header .name-title {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-expand-lg .navbar-nav {
        flex-direction: column;
    }
    .main {
        margin-left: 16rem;
    }
    section {
        padding-left: 2rem;
        padding-right: 8rem;
    }
    .hero {
        padding-right: 10rem;
    }
    .project-table  th.company, td.company {
        display: block;
    }
    .theme-selector-desktop {
        display: initial;
    }
    .theme-selector-mobile {
        display: none;
    }
    .footer-bottom {
        display: none;
    }
    .footer-top {
        display: block;
    }
    .sidebar {
        padding-top: 0rem;
        padding-left: 0rem;
        padding-right: 0rem;
    }
    .profile-photo {
        max-width: 6.5rem;
        margin-bottom: 1rem;
        margin-right: 0rem;
    }
    .profile-name {
        margin-bottom: 3rem;
    }
    .project-img {
        padding-right: 1.5rem;
    }
}

@media (min-width: 1200px) {
    section {
        padding-left: 6rem;
        padding-right: 10rem;
    }
    .hero {
        padding-right: 25rem;
    }
    #contact p {
        font-size: 1rem;
    }
}

@media (min-width: 1400px) {
    section {
        padding-left: 8rem;
        padding-right: 20rem;
    }
    .hero {
        padding-right: 35rem;
    }
}

@media (max-width: 992px) {
    .d-none-lg {
        display: none;
    }
}
@media (max-width: 768px) {
    .d-none-md {
        display: none;
    }
}
@media (max-width: 576px) {
    .d-none-sm {
        display: none;
    }
}