body {
  background: #5cdb95;
  background-image: #5cdb95;
  color: #888;
}
a:hover {
    color: #EDF5E1;
}
.active {
  color: #EDF5E1;
}
p {
  color: #05386b;
}
li {
  color: #EDF5E1;
}
.service-box li h4 {
  color: #05386b;
}
.timeline h4 {
  color: #EDF5E1;
}
.btn-alt-light:before {
  background: #EDF5E1;
}
.circle-btn {
  background: #05386b;
  color:#ffffff;
  font-weight: 700;
}
.btn-default {
  color: #EDF5E1;
  border: solid 3px #05386b;
  background: #05386b;
}
.btn-default:hover, .btn-default:focus {
  color: #05386b;
  border-color: #05386b;
}
.btn-alt-light {
  color: #05386b;
  background: transparent;
  border: solid 3px #05386b;
}
.btn-alt-light:hover, .btn-alt-light:focus {
  color: #05386b;
  border-color: #EDF5E1;
}
.mugi-folding-cube .mugi-cube:before {
  background-color: #05386b;
}
nav ul li {
  color: #05386b;
}
header {
  background: #5cdb95;
}
header.desktop-header {
  background: #5cdb95;
  border-right: solid 1px #8EE4AF;
}
header.desktop-header .vertical-menu li a {
  color: #05386b;
}
header.desktop-header .vertical-menu li a:after {
    background: #EDF5E1;
}
header.desktop-header .vertical-menu li .nav-link.active:after {
    background: #EDF5E1;
  }
header.mobile-header {
    background: #5cdb95;
    border-bottom: solid 1px #8EE4AF;
}
body header, body .btn-default:before {
  background: #5cdb95;
}
body h1, body h2, body h3, body h4, body h5, body h6, body a, body .vertical-menu li a, body .portfolio-filter li.current, body .portfolio-filter li:hover, body .portfolio-info li strong, body .social-share .share-text {
  color: #05386b;
}
body .mouse {
  border-color: #05386b;
}
body .mouse .wheel, body header.mobile-header .menu-icon span, body header.mobile-header .menu-icon span:before, body header.mobile-header .menu-icon span:after {
  background: #05386b;
}
body .timeline span.line {
  background: #8EE4AF;
}
body .slick-dots li.slick-active button:before {
  background: #05386b;
}
body .slick-dots li button:before {
  background: rgba(255, 255, 255, 0.8);
}
body .form-control {
  background-color: transparent;
}
body header.desktop-header .vertical-menu li .nav-link.active:after, body header.desktop-header .vertical-menu li a:after, body .portfolio-filter li.current:after, body .portfolio-filter li:after {
  opacity: 1;
}
body #return-to-top {
  background: rgba(255, 255, 255, 0.2);
}
body #return-to-top:hover {
  background: #05386b;
}
section {
  border-top: solid 1px #8EE4AF;
}
header .social-icon svg {
  width: 100%;
  max-height: 1.1rem;
  fill: #05386b;
}
header .social-icon svg:hover {
  fill: #EDF5E1;
}
.portfolio-item .mask {
    background: #05386b;
}
.typewriter > .wrap {
  border-right: 0.4rem solid #EDF5E1;
}
.timeline .timeline-container::after {
  background-color: #EDF5E1;
}
.icon.simple {
  color: #EDF5E1;
}
.portfolio-categories li a {
  background-color: #05386b;
}
.timeline .content .time {
  color: #05386b;
}