@import "satoshi.css";

@font-face {
  font-family: Montserrat-Variable;
  src: url(../fonts/montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: Inter-Variable;
  src: url(../fonts/inter/Inter-Variable.ttf);
}
@font-face {
  font-family: MonumentExtended-Regular;
  src: url(../fonts/monument/MonumentExtended-Regular.otf);
}
@font-face {
  font-family: MonumentExtended-Ultrabold;
  src: url(../fonts/monument/MonumentExtended-Ultrabold.otf);
}

body {
    background: #f8f8f8;
    background-color: #f8f8f8;
    color: #000000;
    font-size: 16px;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}
h1 {
  margin-bottom: 2rem;
  font-family: "Inter-Variable", sans-serif;
  font-weight: 900;
}
h2 {
  margin-bottom: 5rem;
}
a {
    text-decoration: none;
}
.bold {
  font-weight: 600;
}
ul {
    padding-left: 1rem;
}
img {
    max-width: 100%;
    height: auto;
}
.btn {
  border-radius: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 900;
  overflow: hidden;
  line-height: 1;
  padding: 15px 24px;
  position: relative;
  text-transform: uppercase;
}
.btn:focus {
  box-shadow: none;
}

.btn:focus {
  outline: 0;
}
.circle {
    border-radius: 100%;
  }
header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 2.55rem;
    padding-left: 2.75rem;
    padding-right: 2.75rem;
    padding-bottom: 2.55rem;
    position: fixed;
}
header ul {
  list-style: none;
  padding-left: 0;
}
.sidebar {
    padding: 0;
}
nav ul li {
  margin-bottom: 0.75rem;
}
footer {
    margin-top: auto;
}
footer ul {
    display: flex;
}
footer ul li {
    margin-right: 1rem;
}
.profile-photo {
    max-width: 10rem;
    display: block;
    margin-bottom: 1rem;
}
.profile-name {
    display: block;
    margin-bottom: 2rem;
}
.copyright {
    font-size: 14px;
    margin-top: auto;
}
.theme-selector {
    /* display: none; */
    z-index: 100;
    position: absolute;
    right: 0;
    padding-top: 2.55rem;
    padding-right: 2.75rem;
    margin-bottom: 1rem;
  }
.theme-selector ul {
    display: flex;
}
header .social-icons svg {
    width: 100%;
    max-height: 1.1rem;
}
section {
    padding-top: 4rem;
    padding-left: 6rem;
    padding-right: 6rem;
    margin-bottom: 4rem;
}
.hero {
  height: 100vh;
  min-height: 100vh;
  padding-left: 12rem;
  padding-right: 12rem;
  display: flex;
  align-items: center;
}
.hero p {
  margin-bottom: 2rem;
}
.scroll-down {
	position: absolute;
	bottom: 40px;
	left: 0;
	width: 100%;
}
.mouse {
  border: solid 3px #ffffff;
  border-radius: 1rem;
  display: block;
  margin: auto;
  height: 2rem;
  position: relative;
  width: 1.5rem;
}
.mouse .wheel {
		background: #ffffff;
		border-radius: 100%;
		display: block;
		position: absolute;
		top: 8px;
		left: 50%;
    	transform: translateX(-50%);
		height: 5px;
		width: 5px;
		-webkit-animation: ani-mouse 2s linear infinite;
		-moz-animation: ani-mouse 2s linear infinite;
		animation: ani-mouse 2s linear infinite;
}

@-webkit-keyframes ani-mouse {
	0% {
		top: 29%;
	}
	15% {
		top: 50%;
	}
	50% {
		top: 50%;
	}
	100% {
		top: 29%;
	}
}
@-moz-keyframes ani-mouse {
	0% {
		top: 29%;
	}
	15% {
		top: 50%;
	}
	50% {
		top: 50%;
	}
	100% {
		top: 29%;
	}
}
@keyframes ani-mouse {
	0% {
		top: 29%;
	}
	15% {
		top: 50%;
	}
	50% {
		top: 50%;
	}
	100% {
		top: 29%;
	}
}
.theme-selector ul li {
    max-width: 1.5rem;
    max-height: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    list-style-type: none;
}
.theme-selector ul li.light {
  background: #ffffff;
}
.theme-selector ul li.dark {
  background: #9013FE;
}
.theme-selector ul li.orange {
  background: #fc483a;
}
.theme-selector ul li.green {
  background: #05386b;
}
.theme-selector ul li a {
  height: 100%;
  width: 100%;
  position: relative;
  display: block;
}

.typewriter > .wrap {
    animation: blink 0.8s infinite;
  }
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  li {
    color: #9013FE;
  }
  .subtitles {
    margin-bottom: 1rem;
  }
  .experience-logo {
    margin-top: 1.33rem;
    margin-bottom: 0.33rem;
    display: block;
    height: 2.5rem;
    width: auto;
    max-height: 2.5rem;
  }
  .experience-logo.wtaa-logo {
    height: 2.35rem;
    max-height: 2.35rem;
  }
  .experience-logo.ncm-logo {
    height: 2.95rem;
    max-height: 2.95rem;
  }
  .experience-logo.vue-design-logo {
    height: 2.95rem;
    max-height: 2.95rem;
  }
  .experience-logo.mango-bay-logo {
    height: 1.75rem;
    max-height: 1.75rem;
  }
  .experience-logo.ff-design-logo {
    height: 1.55rem;
    max-height: 1.55rem;
  }
  .item {
    margin-bottom: 5rem;
    padding-top: 1rem;
    padding-right: 5rem;
  }